form.search-form input[type=text] {
    padding: 10px;
    font-size: 15px;
    float: left;
    width: 85%;
    background: grey;
    border: none;
    border-radius: 20px 0px 0px 20px;
    color: white;
    margin: auto;
    margin-top: 30px;
    height: 52px;
  }
  
  form.search-form button {
    float: left;
    width: 15%;
    padding: 6px;
    background: rgb(78, 75, 75);
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 0px 20px 20px 0px;
    margin-top: 30px;
  }
  
  form.search-form button:hover {
    background: rgb(44, 43, 43);
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }


/*



.search-box {
    position: relative;
    width: 100%;
    max-width: 40%;
    padding: .7rem;
    background-color: grey;
    border-radius: 20px;
    margin-top: 30px;
    border: none;
    color: #ffffff;
    margin: auto;
    display: block;
    text-decoration: none;
    top: 8px;
}

.fa-magnifying-glass{
    width: 10px;
    position: relative;
    margin-top: 35px;
    color: #ffffff;
    z-index: -10;
}

*/