* {
  box-sizing: border-box;
  

}

.body__index {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-color: #353535;
}

/* ----------------------  */
.principal{
  display: flex;
  margin-top: 30px;
}

.col_left_ppal {
  width: 75%;
  font-size: x-small;
}




/* Clear floats after the columns */
.principal:after {
  content: "";
  display: table;
  clear: both;
}

.col_right_ppal {
  width: 25%;
  padding: 0px;
}
.right_content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 90%;
  margin-top: 1vh;
  margin-left: 0.5vw;
  margin-right: 0.5px;
  background-color: #161616;
  border: white solid 1px;
  border-radius: 15px;
  padding: 2%;
}
.image-right{
  max-width: 200px;
  padding: 5px;

}
.imghome{
  border-radius: 7px;
}

.text_gallery_right0{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  object-fit:contain;
  padding: 0px;
}


#text_gallery_right1{
  font-size:x-small;
  flex: 1 1 auto;
  margin: 2px;
  font-weight: bold;
}
#text_gallery_right2{
  font-size:xx-small;
  flex: 1 2 auto;
  margin: 2px;
  font-weight: lighter;
}

/* ----------------------  */


.carousel {
  background: #EEE;


}
.carousel-cell {
background-color: #161616;
border: white solid 1px;
margin-left: 3rem;
border-radius: 10%;
}
.carousel-cell-top {
  margin-left: 3rem;
  background-color: #161616;
  border: #ffffff solid 1px;
  border-radius: 15px;
  padding: 3.5%;
  }

.flickity-button{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  background-color: #0078f1;
  border: white solid 1px;
  color: #ffffff;
}
.flickity-button:hover{
  background-color: #0078f1;
}


  .carousel-cell-creators {
    background-color: #161616;
    border: white solid 1px;
    border-radius: 7%;
    margin-left: 3rem;

    }

.flickity-page-dots .dot {
  display: none; /*inline-block;*/
}

.flickity-viewport {
  padding-top:30%;
  background-color: #353535;
  max-width: 100%;
   border: none;

  

}
.flickity-slider{
  margin-top:-30%;
  border: none;
}

/************************************/
.container_image_ppal_home{
  /*position: relative;*/
  max-width: 100%;
  /*max-height: 300px;*/
  padding: 2px;
  margin: 2px;
  display: flex;
  flex-direction: column;
 
} 

.new_releases_container{
  /*border: 0.5px solid lightgray;*/
  padding: 10px 10px 0px 10px;
  border: transparent solid 1px;
}

.top_sellers_container{
 /* border: 0.5px solid lightgray;*/
  padding: 0px 10px 0px 10px;
}

.free_container{
  /*border: 0.5px solid lightgray;*/
  padding: 0px 10px 0px 10px;
}

.creators_container{
  /*border: 0.5px solid lightgray;*/
  padding: 0px 10px 0px 10px;
}







#image_game_ppal_home{
  align-content: center;
 
}

#title_box_home{   /* Game Name  */
  font-weight: bold ;
  font-size: medium;
  padding-left: 5px;
  text-align: center;
}
#text_box_home{ /* Game Short Descr */
  font-weight: lighter ;
  font-size: small;
  padding-left: 5px;
}

.new_releases_home{
  width: 270px;
  height: 300px;
  border: 0.5px solid lightgray;
  border-radius: 10%;
}

.top_sellers_home{
  width: 270px;
  height: 300px;
  border: 0.5px solid lightgray; 
}

.free_home{
  width: 270px;
  height: 300px;
  border: 0.5px solid lightgray;
  border-radius: 10%;
}

/*  */
.image_box_home{
  position:relative;
  width: 180px;
  height: 150px;
  padding-top: 10px;
  margin:auto;
  object-fit:cover;
  
  
} 
/*
.image_game_home {
  width: 170px;
  height: 150px;
  object-fit:cover;
  
}
*/
/*  */





#creator_box_home{
  font-size: x-small;
  padding-left: 5px;
  text-align: center;
}

#category_home{
  font-size: x-small;
  position: absolute;
  bottom: 0.5px;
  left: 0.5px;
  background-color:#161616;
  color: #ffffff;
  padding-left: 2px;
  padding-right: 2px;
}

/*****************************************/

.price_line_home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.original_price_home{
  font-size: small;
  padding-left: 5px;
  margin-left: 0.8rem;
  margin-top: 1rem;
}

.price_w_discount_home{
  font-size:x-large;
  font-weight: bold;
  margin-top: 0.50rem;
  
}
.discount_detail_home{
  font-size: xx-small;
  font-weight: bold;
  float: right;
  border: .5px solid #c7c7c7;
  margin-right: 0.8rem;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  background-color: green;
  margin-top: 0.8rem;
  height: 10%;
}

.download_detail_home{
  font-size: xx-small;
  font-weight: bold;
  float: right;
  border: .5px solid #c7c7c7;
  margin-right: 5px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
}



#banner {
  width: 100%;
  min-height: 70%;
  margin: auto;
  align-self: center;
  object-fit:cover;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Profile Creators ****************************************************/
.card_creator {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 160px;
  height: auto;
  margin: auto;
  text-align: center;
}
.title_creator {
  color: grey;
  font-size: 16px;
}

button  {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #161616;
text-align: center;
cursor: pointer;
width: 50%;
font-size: small;
font-weight: bold;  
}
.btn_creator{
  font-size: small;
}
a {
  text-decoration: none;
  font-size: 12px;
/*   color: black; */
}

.photo_creator{
  position: relative;
  width: 160px;
  height: 160px;
  padding: 2px;
  margin: 2px;
  border-radius: 50%;
  
} 
/************************************************************/


/**********MEDIA QUERY*****************/

/* Para sacar o meter thumbnails a la derecha  */
@media screen and (min-width: 0px) and (max-width: 480px){   /* para sacar la columna a la derecha*/ 
  .col_left_ppal {
      width: 90%;
      margin-left: 5%;
  }
  .col_right_ppal {
      display: none;
      width: 0%;
    }
    .flickity-button{
      margin-left: -4vw ;
      margin-right: -4vw;
      padding: 5px;
      margin-top: 50%;
    }
    .card_creator{
      margin-left: 10px;
      margin-right: 10px;
    }
    .new_releases_container{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 60px;
    }
    .top_sellers_container{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 60px;
    }
    .free_container{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 60px;
    }
    .carousel-cell-top{
      margin-bottom: 60px;
    }
    .creators_container{
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 75px;
    }
    .nRh1{
      text-align: center;
    }
    .tSh1{
      text-align: center;
    }
    .fh1{
      text-align: center;
    }
    .ch1{
      text-align: center;
    }
}


@media screen and (min-width: 421px) and (max-width:1025px) {

  .body__index{
    justify-content: flex-start;
  }
  .col_left_ppal {
      width: 75%;
  }
  .carousel-cell-top{
    margin-bottom: 30px;
  }
  .col_right_ppal {
      width: 25%;
      align-content:flex-start;
  }
  .flickity-button{
    margin-left: -1vw ;
    margin-right: -1vw;
    margin-top: 25%;
    padding: 5px;
  }
  .new_releases_container{
    margin-bottom: 100px;
  }
  .top_sellers_container{
    margin-bottom: 100px;
  }
  .free_container{
    margin-bottom: 100px;
  }
  .creators_container{
    margin-bottom: 140px;
  }
}
