<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/under_constr.css">
        <link rel="stylesheet" href="/css/search_bar.css">
    </head>
<body id="body__UC">
    <%- include('./partials/header')%>    
    <%- include('./partials/search_bar')%> 

<div class="lpm">

    <h1 class="uc-h1">Error 404</h1>
    <h2 class="uc-h2">There's nothing here</h2>
    <br>
    <a class="uc-btn" href="/">Go home here</a>
    <br>
    <p class="pp">Or</p>
    <br>
    <a class="uc-btn2" href="/productList">Explore our games</a>


</div>



    <!--  <img src="/images/under_constr.png" id="under-constr" width="90%" height="auto">  -->


   
</body>
<footer>
    <%- include('./partials/footer')%>
</footer>
</html>