<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
    <!-- Acá habría que agregar la conexión al css correspodiente a esta página una vez desarrollada -->
</head>
<body>
    <%- include('partials/header.ejs')  %>    
    <h1>User List</h1>
    <ul>
        <li>1:dario</li>
        <li>1:dario</li>
    </ul>
</body>
</html>