
<form class="search-form" action="#" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa-solid fa-magnifying-glass" style='color: white'></i></button>
</form>



<!--
<form class="search-form">
    <input type="text" class="search-box" placeholder="Search" >
    <i class="fa-solid fa-magnifying-glass"  style='color: white'></i>      
</form>
-->