<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs')  %> 
        <link rel="stylesheet" href="/css/log-in.css">
    </head>
<body class="login-body">

    <header>
        <%- include ('../partials/header.ejs')  %> 
    </header>    

    <main class="login-main">
        <form method="POST" action="/users/login" class= "log-in-form" >
            <h3 class="h3-login">Ingresa tus datos</h3>
            <div class="errors">
                <ul>
            
                </ul>
            </div>
            <div class="form-styler-login">
                <input type="email" name="email" placeholder="Email" class="input-styler-login" id="email" required >
                
                <small class="errorMail" name="emailError" >Email no puede estar vacio</small>
               
            </div>

            <div class="form-styler-login">
                <input type="password" name="password" placeholder="Password" class="input-styler-login" id="password" required>
                 <small class="errorPassword" name="errorPassword" >Password no puede estar vacio</small>
                 <small class="errorPasswordlength" name="errorPasswordlength" >Password minimo 6 caracteres Por Favor</small> 
            </div>

            <div class="rm-login">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label id="square-rm-login" for="remember-me">Remember me</label>
            </div>
            <div class="cp-login">
                <a class="a-login" href="/change-password.html">Olvidaste tu contraseña?</a>
            </div>
            <input type="submit" value="Login" id="login-button">

            <div class="ca-styler-login">
                <p>Don't have an account? <a class="a-login" href="register">Create one here</a></p>
            </div>

        </form> 
        </main>
        <footer>
            <%- include ('../partials/footer.ejs')  %>  
        </footer>
        <script src="/js/userValidateLogin.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
</body>


</html>